<div class="people-content">
  <img
    src="assets/pato-duck.gif"
    width="227"
    height="276"
    priority
    *ngIf="isLoading$ | async"
  />
  <span [hidden]="isLoading$ | async">
    <span *ngIf="people$ | async as people">
      <ul class="people-list">
        <li *ngFor="let person of people.results ?? []">
          <a href="{{ person | toRouteUrl }}" class="person-entry"
            >Name: {{ person.name }}</a
          >
        </li>
      </ul>
      <nav *ngIf="!(isLoading$ | async)">
        <span
          ><a
            [ngClass]="people.previous ? 'link-button' : 'link-button-disabled'"
            href="{{ previousUrl }}"
            >Previous</a
          ></span
        >
        <a class="link-button" href="{{ nextUrl }}">Next</a>
      </nav></span
    ></span
  >
</div>
