<div class="people-content">

  <span *ngIf="people$ | async as people; then loadingImage else peopleList">
    <img src="assets/pato-duck.gif" width="227" height="276" priority *ngIf="isLoading$ | async; else peopleList" />
    <ng-template #peopleList>
      <ul class="people-list">
        <li *ngFor="let person of people.results ?? []">
          <a href="{{ person | toRouteUrl }}" class="person-entry">Name: {{ person.name }}</a>
        </li>
      </ul>
    </ng-template>
    <nav *ngIf="!(isLoading$ | async)">
      <span><a [ngClass]="people.previous ? 'link-button' : 'link-button-disabled'"
          href="{{ previousUrl }}">Previous</a></span>
      <a class="link-button" href="{{ nextUrl }}">Next</a>
    </nav>
  </span>
</div>