<div class="people-content">
  <img
    src="assets/pato-duck.gif"
    width="227"
    height="276"
    priority
    *ngIf="!(people$ | async)"
  />
  <ul class="people-list" *ngIf="people$ | async as people">
    <li *ngFor="let person of people.results ?? []">
      <a href="{{ person | toRouteUrl }}" class="person-entry"
        >Name: {{ person.name }}</a
      >
    </li>
  </ul>
  <nav>
    <a
      class="link-button"
      *ngIf="(people$ | async)?.previous && !(isLoading$ | async)"
      href="{{ previousUrl }}"
      >Previous</a
    >
    <span
      class="link-button-disabled"
      *ngIf="!(people$ | async)?.previous && !(isLoading$ | async)"
      >Previous</span
    >
    <a
      class="link-button"
      *ngIf="(people$ | async)?.next && !(isLoading$ | async)"
      href="{{ nextUrl }}"
      >Next</a
    >
  </nav>
</div>
