<div id="container">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <fieldset>
      <div>
        <input id="people-checkbox" ngModel type="radio" formControlName="category" value="people">
        <label for="people-checkbox">People</label>
      </div>
      <div>
        <input id="films-checkbox" ngModel type="radio" formControlName="category" value="films">
        <label for="films-checkbox">Films</label>
      </div>
    </fieldset>
    <div>
      <input ngModel formControlName="searchTerm" type="text">
      <button type="submit"
        [disabled]="!(searchForm.value['searchTerm'] && searchForm.value['category'])">Search</button>
    </div>
  </form>

  <div><a href="people">Show All People</a></div>
</div>