<img src="assets/pato-duck.gif" width="227" height="276" priority *ngIf="isLoading$ | async" />
<span [hidden]="isLoading$ | async">
  <div *ngIf="details$ | async as details" class="flex-container">
    <div class="row"><span class="title"> Name: </span> {{ details.name }}</div>
    <div class="row">
      <span class="title">Height: </span> {{ details.height }}
    </div>
    <div class="row"><span class="title">Mass: </span> {{ details.mass }}</div>
    <div class="row">
      <span class="title">Hair color: </span> {{ details.hair_color }}
    </div>
    <div class="row">
      <span class="title">Skin color: </span> {{ details.skin_color }}
    </div>
    <div class="row">
      <span class="title">Eye color: </span> {{ details.eye_color }}
    </div>
    <div class="row">
      <span class="title">Birth year: </span> {{ details.birth_year }}
    </div>
    <div class="row">
      <span class="title">Gender: </span> {{ details.gender }}
    </div>
    <div class="row">
      <app-link-list [linkList]="details.homeworld" [title]="'HomeWorld'"></app-link-list>
    </div>
    <div class="row">
      <app-link-list [linkList]="details.films" [title]="'Films'"></app-link-list>
    </div>
    <div class="row">
      <app-link-list [linkList]="details?.species" [title]="'Species'"></app-link-list>
    </div>
    <div class="row">
      <app-link-list [linkList]="details?.vehicles" [title]="'Vehicles'"></app-link-list>
    </div>
    <div class="row">
      <app-link-list [linkList]="details?.starships" [title]="'Starships'"></app-link-list>
    </div>
    <div class="row">
      <span class="title">Created: </span> {{ details.created }}
    </div>
    <div class="row">
      <span class="title">Edited: </span> {{ details.edited }}
    </div>
  </div>
</span>