<img
  src="assets/pato-duck.gif"
  width="227"
  height="276"
  priority
  *ngIf="isLoading$ | async"
/>
<span [hidden]="isLoading$ | async">
  <div *ngIf="details$ | async as details" class="flex-container">
    <div class="row"><span class="title"> Name: </span> {{ details.name }}</div>
    <div class="row">
      <span class="title">Height: </span> {{ details.height }}
    </div>
    <div class="row"><span class="title">Mass: </span> {{ details.mass }}</div>
    <div class="row">
      <span class="title">Hair color: </span> {{ details.hair_color }}
    </div>
    <div class="row">
      <span class="title">Skin color: </span> {{ details.skin_color }}
    </div>
    <div class="row">
      <span class="title">Eye color: </span> {{ details.eye_color }}
    </div>
    <div class="row">
      <span class="title">Birth year: </span> {{ details.birth_year }}
    </div>
    <div class="row">
      <span class="title">Gender: </span> {{ details.gender }}
    </div>
    <div class="row">
      <span class="title">Homeworld: </span> {{ details.homeworld }}
    </div>
    <div class="row">
      <span class="title">Films: </span>
      <ul>
        <li *ngFor="let film of details.films | mapToRouterLink: 'films'">
          <a class="link-button" href="{{ film.page }}">{{ film.label }}</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <span class="title">Species: </span>
      <ul>
        <li *ngFor="let species of details.species">{{ species }}</li>
      </ul>
    </div>
    <div class="row">
      <span class="title">Vehicles:</span>
      <ul>
        <li *ngFor="let vehicle of details.vehicles">{{ vehicle }}</li>
      </ul>
    </div>
    <div class="row">
      <span class="title">Starships: </span>
      <ul>
        <li *ngFor="let starship of details.starships">{{ starship }}</li>
      </ul>
    </div>
    <div class="row">
      <span class="title">Created: </span> {{ details.created }}
    </div>
    <div class="row">
      <span class="title">Edited: </span> {{ details.edited }}
    </div>
    <div class="row"><span class="title">URL: </span> {{ details.url }}</div>
  </div>
</span>
