<ng-template #isLoading><img src="assets/pato-duck.gif" width="227" height="276" priority />
</ng-template>
<span *ngIf="film$ | async as film">
  <span *ngIf="film?.characters$ | async as characters; else isLoading">
    <div>
      <app-character-list [characters]="characters"></app-character-list>
      <div>Created: {{ film?.created }}</div>
      <div>Created: {{ film?.director }}</div>
      <div>Created: {{ film?.edited }}</div>
      <div>Created: {{ film?.episode_id }}</div>
      <div>Created: {{ film?.opening_crawl }}</div>
      <app-link-list [linkList]="film?.planets" [title]="'Planets'"></app-link-list>
      <div>Producer: {{ film?.producer }}</div>
      <div>Release date: {{ film?.release_date }}</div>
      <app-link-list [linkList]="film?.species" [title]="'Species'"></app-link-list>
      <app-link-list [linkList]="film?.starships" [title]="'Starships'"></app-link-list>
      <div>Title: {{ film?.title }}</div>
      <div>URL: {{ film?.url }}</div>
      <app-link-list [linkList]="film?.vehicles" [title]="'Vehicles'"></app-link-list>
    </div>
  </span>
</span>