<img
  src="assets/pato-duck.gif"
  width="227"
  height="276"
  priority
  *ngIf="isLoading$ | async"
/>
<div *ngIf="film$ | async as film">
  <ul class="character-list">
    <div>Characters:</div>
    <span class="character-list-container"
      ><li *ngFor="let character of film?.characters$ | async">
        <a href="{{ character | toRouteUrl }}">{{ character.name }}</a>
      </li></span
    >
  </ul>
  <div>Created: {{ film?.created }}</div>
  <div>Created: {{ film?.director }}</div>
  <div>Created: {{ film?.edited }}</div>
  <div>Created: {{ film?.episode_id }}</div>
  <div>Created: {{ film?.opening_crawl }}</div>
  <ul>
    <span>Planets: </span>
    <li *ngFor="let planet of film?.planets ?? []">{{ planet }}</li>
  </ul>
  <div>Producer: {{ film?.producer }}</div>
  <div>Release date: {{ film?.release_date }}</div>
  <ul>
    <span>Planets: </span>
    <li *ngFor="let species of film?.species ?? []">{{ species }}</li>
  </ul>
  <ul>
    <span>Planets: </span>
    <li *ngFor="let starship of film?.starships ?? []">{{ starship }}</li>
  </ul>
  <div>Title: {{ film?.title }}</div>
  <div>URL: {{ film?.url }}</div>
  <ul>
    <span>Vehicles: </span>
    <li *ngFor="let vehicle of film?.vehicles ?? []">{{ vehicle }}</li>
  </ul>
</div>
